#screen {
	position: fixed;
	width: 100%;
	height: 100%;
}

#board {
	width: 506px;
	height: 506px;
	background: #D1FBE4;
	margin-top: 60px;
	margin-left: 15%;
	float: left;
	position: relative;
}

#popup {
	background: rgba(255, 255, 255, .8);
	border: 2px solid #000;
	position: fixed;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    height: 60%;
	width: 25%;
}

/*#popup_exit {
	position: absolute;
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	right: 10px;
	top: 5px;
	cursor: pointer;
}
*/
.popup_button {
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	background: white;

	border: 2px solid #000;

	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*cursor: pointer;*/
}

.popup_button:hover {
	border: 2px solid #D1FBE4;
}

/* ######################################### */
/* ############## BUTTON BAR ############### */
/* ######################################### */

#button_bar {
	clear: both;
	width: 450px;
	height: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}

#roll_button {
	content: url("/images/dice.png");
}

#manage_button {
	content: url("/images/manage.png");
}

#trade_button {
	content: url("/images/trade.png");
}

#pause_button {
	content: url("/images/pause.png");
	
}

.button_bar_button {
	width: 50px;
	height: 50px;
	padding: 10px;
	border: 2px solid #000;
    display: inline-block;
    margin: 5px;
    margin-top: 20px;

    /*cursor: pointer;*/
}

.button_bar_button:hover {
	background-color: rgba(209, 251, 228, .3);
}

/* ######################################### */
/* ################ BOARD ################## */
/* ######################################### */

.deck {
	width: 90px;
	height: 60px;
	/*background-color: blue;*/
	position: absolute;
}

#community_chest {
	-webkit-transform: rotate(135deg);
	left: 25px;
	top: 35px;
	background: #97D5FD;
	border: 2px dotted #000;
	content: url("/images/community_chest.png");
	padding-left: 10px;
	padding-right: 10px;
	width: 70px;
}

#chance {
	-webkit-transform: rotate(-45deg);
	right: 25px;
	bottom: 35px;
	background: #F5AD5F;
	border: 2px dotted #000;
	content: url("/images/chance_white.png");
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 2px;
	padding-bottom: 2px; 
	width: 30px;
	height: 56px;
}

.card {
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
    height: 60px;
    width: 40px;
    color: #FFF;
 	margin: auto;
 	z-index: 0;
 	text-align: center;
	font-size: 7px;
	line-height: 7px;
	color: #000;
	float: left;
	overflow: hidden;
	/*word-wrap: break-word;*/
}

.color {
	width: 100%;
	height: 15px;
	position: relative;
	background-color: red;
	z-index: 10px;
}

.corner {
	width: 60px;
	height: 60px;
	border: 2px solid #000;
	float: left;
}

.row {
	width: 506px;
	height: 64px;
}

.col {
	height: 378px;
	width: 64px;
}

#top {
	float: left;
}

#left {
	float: left;
	clear: both;
}

#middle {
	width: 378px;
	height: 378px;
	float: left;
	position: relative;
}

#right {
	float: left;
}

#bottom {
	clear: both;
}

#sq_19 {
	margin-top: -11px;
}

#sq_31 {
	margin-top: -11px;
}

#player_1 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 39px;
	left: 467px;
}
#player_2 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 39px;
	left: 493px;
}
#player_3 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 26px;
	left: 467px;
}
#player_4 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 26px;
	left: 493px;
}
#player_5 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 13px;
	left: 467px;
}
#player_6 {
	width: 13px;
	height: 13px;
	position: absolute;
	bottom: 13px;
	left: 493px;
}

