#screen {
	position: fixed;
	width: 100%;
	height: 100%; 
}

#board {
	width: 611px;
	height: 610.5px;
	margin-top: 60px;
	margin-left: 10%;
	float: left;
	position: relative;
}

.deck {
	width: 90px;
	height: 60px;
	position: absolute;
}

#community_chest {
	-webkit-transform: rotate(135deg);
	left: 25px;
	top: 35px;
	background: #97D5FD;
	border: 2px dotted #000;
	content: url("/images/community_chest.png");
	padding-left: 10px;
	padding-right: 10px;
	width: 70px;
}

#chance {
	-webkit-transform: rotate(-45deg);
	right: 25px;
	bottom: 35px;
	background: #F5AD5F;
	border: 2px dotted #000;
	content: url("/images/chance_white.png");
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 2px;
	padding-bottom: 2px; 
	width: 30px;
	height: 56px;
}

.property {
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
    height: 72px;
    width: 49px;
    color: #FFF;
 	margin: auto;
 	z-index: 0;
 	
 	text-align: center;
	font-size: 9px;
	line-height: 8px;
	font-family: "TW Cen MT", 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	float: left;
	overflow: hidden;
}

.mortgage_stamp {
	position: absolute;
	background: transparent;
	content: url("/images/mortgaged_stamp.png");
	width: 35px;
	height: 35px;
	padding-left: 7px;
	padding-right: 7px;
	top: 27px;
}

p.price {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

p.name {
	position: relative;
	top: 5px;
	left: 0;
	right: 0;
	margin-top: 0;
}

.buildBox {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-left: 2px;
}

.color {
	width: 49px;
	height: 15px;
	position: relative;
	background-color: red;

	text-align: left;
	vertical-align: middle;
	line-height: 15px;
}

.corner {
	width: 72px;
	height: 72px;
	border: 2px solid #000;
	float: left;
	background: #D1FBE4;
}

.row {
	width: 611px;
	height: 74px;
	background: #D1FBE4;
}

.col {
	height: 470px;
	width: 76px;
	margin-top: -10.5px;
	background: #D1FBE4;
}

#top {
	float: left;
}

#left {
	float: left;
	clear: both;
}

#middle {
	width: 459px;
	height: 458.5px;
	float: left;
	position: relative;
	margin-top: 2px;
	background: #D1FBE4;
}

#right {
	float: left;
}

#bottom {
	clear: both;
}

#sq_0 {
	content: url("/images/go.png");
}

#sq_10 {
	content: url("/images/jail.png");
}

#sq_20 {
	content: url("/images/free_parking.png");
}

#sq_30 {
	content: url("/images/go_to_jail.png");
}

#player_0 {
	bottom: 39px;
	left: 557px;
	background: #D66F8E;
}
#player_1 {
	bottom: 39px;
	left: 587px;
	background: orange;
}
#player_2 {
	bottom: 24px;
	left: 557px;
	background: yellow;
}
#player_3 {
	bottom: 24px;
	left: 587px;
	background: #9F57C9;
}
#player_4 {
	bottom: 9px;
	left: 557px;
	background: #57BCC9;
}
#player_5 {
	bottom: 9px;
	left: 587px;
	background: #64C957;
}

.piece {
	width: 13px;
	height: 13px;
	position: absolute;
	border-radius: 50%;
	padding: 1px;
}

#paused_screen {
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 10000;
	position: fixed;
}

#newsfeed {
	overflow-y: scroll;
}