#screen {
	position: fixed;
	width: 100%;
	height: 100%;
	/*opacity: 0.2;*/
}

#board {
	width: 506px;
	height: 506px;
	background: #D1FBE4;
	margin-top: 60px;
	margin-left: 15%;
	float: left;
}

#popup {
	background: white;
	border: 2px solid #000;
	position: fixed;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    height: 60%;
	width: 25%;
}

#player_panel {
	background: rgba(255, 255, 255, .5);
	border: 2px solid #000;
	float: left;
	width: 370px;
	height: 502px;
	margin-top: 60px;
	margin-left: 30px;
	padding-left: 8px;
	padding-right: 8px;

	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

#player_tab_panel {
	width: 100%;
	height: 47px;
	position: relative;
	text-align: left; 
	/*background: blue;*/
}

.player_tab {
	width: 35px;
	height: 35px;
	background: white;
	border: 1px solid #000;
	text-align: center;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	line-height: 35px;

	display: inline-block;
    margin: 2.5px;
    margin-top: 5px;
    /*margin-left: 0;*/
}

#emma {
	border-bottom: 5px solid red;
}

#button_bar {
	clear: both;
	width: 450px;
	height: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}

/* SPECIFICS */

#roll_button {
	content: url("/images/dice.png");
}

#manage_button {
	content: url("/images/manage.png");
}

#trade_button {
	content: url("/images/trade.png");
}

#pause_button {
	content: url("/images/pause.png");
	
}

.button_bar_button {
	width: 50px;
	height: 50px;
	padding: 10px;
	border: 2px solid #000;
    display: inline-block;
    margin: 5px;
    margin-top: 20px;
}

.button_bar_button:hover {
	/*border: 2px solid #D1FBE4;*/
	/*opacity: .5;*/
	background-color: rgba(209, 251, 228, .3);
}

#properties_table td:nth-child(1) {
	width: 150px;
	text-align: left;
}

#properties_table td:nth-child(n+2) {
	color: green;
	font-weight: bold;
}

#properties_table td:nth-child(6) {
	color: red;
	font-weight: bold;
}

#properties_table td:nth-child(7) {
	color: purple;
	font-weight: bold;
}

#properties_table td:empty {
	border: 1px dashed #000;
}

.player_table td {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	width: 20px; 
	white-space: nowrap;
	text-align: center;
}

/* card specifics */

.card {
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
    height: 60px;
    width: 40px;
    color: #FFF;
 	margin: auto;
 	z-index: 0;
 	text-align: center;
	font-size: 8px;
	color: #000;
	float: left;
}

.color {
	width: 100%;
	height: 15px;
	position: relative;
	background-color: red;
	z-index: 10px;
}

.corner {
	width: 60px;
	height: 60px;
	border: 2px solid #000;
	float: left;
}

.row {
	width: 506px;
	height: 64px;
}

.col {
	height: 378px;
	width: 64px;
}

#top {
	float: left;
}

#left {
	float: left;
	clear: both;
}

#middle {
	width: 378px;
	height: 378px;
	float: left;
}

#right {
	float: left;
}

#bottom {
	clear: both;
}

#sq_19 {
	margin-top: -11px;
}

#sq_31 {
	margin-top: -11px;
}

