.preview {
	background: white;
	width: 230px;
	height:  300px;
	padding: 5px;
	position: absolute;
	top: 132px;
	left: 190.5px;
	border: 2px solid #000;

	font-family: "TW Cen MT",'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

.popup_preview {
	background: white;
	width: 230px;
	height:  300px;
	padding: 5px;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000;

	font-family: "TW Cen MT",'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

.property_preview_color {
	background: yellow;
	width: 226px;
	height: 50px;
	border: 2px solid black;
}

p.property_title_deed {
	font-family: "Copperplate";
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;

	margin: 0;
}

#preview_button_bar {
	width: 244px;
	height: 40px;

	position: absolute;
	top: 446px;
	left: 190.5px;

	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

#preview_prompt {
	position: relative;

	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-weight: bold;
}

.preview_butt {
	background: white;
	border: 2px solid black;
}

.preview_butt:hover {
	background: rgba(255,255,255,.6);
}

.property_preview_name {
	font-family: "Copperplate";
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	line-height: 17px;

	margin: 0;
}

.property_preview_disclaimer {
	font-size: 9px;
	bottom: 0px;
	position: absolute;
}

.preview_table {
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.preview_table td:nth-child(1) {
	text-align: left;
	width: 125px;
}

.railroad_preview_table td:nth-child(1) {
	text-align: left;
	width: 150px;
}


.preview_table td:nth-child(2) {
	text-align: right;
}

/*.utility_preview_table {
	margin-top: 15px;
}*/


p.inline {
	display: inline;
}

p.indented {
	text-indent: 20px;
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
}

.UR_preview_padding {
	width: 210px;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
}


.UR_preview_name {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	font-family: "Copperplate";
	font-weight: bold;
	text-transform: uppercase;
	position: relative;

	font-size: 20px;
	line-height: 20px;

	margin-top: 0;
	margin-bottom: 5px;
}

.preview_logo {
	width: 100px;
	height: 100px;
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	margin-top: -5px;
}

.preview_mortgage_stamp {
	position: absolute;
	background: transparent;
	content: url("/images/mortgaged_stamp.png");
	width: 75px;
	height: 75px;
	bottom: 10px;
	right: 10px;
}





