input[type="number"] {
  width: 3em;
}

body, html {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
	background: url("/images/wood2.jpg"); 
	background-size: 100% 100%;
}

h1 {
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #FFF;
	text-align: center;
	text-shadow: 3px 3px #000;
	background: rgb(183, 0, 11);
	font-size: 2em;

	width: 100%;
	margin-top: -0.1em;
	margin-bottom: 0px;
	position: fixed;
	z-index: 1000;
}

h2 {
	width: 100%;
	background: #D1FBE4;

	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	text-align: center;
	margin-top: 0em;
	border-bottom: 2px solid #000;
}

h3 {
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	text-align: center;
	font-size: 2em;
	/*border-bottom: 2px solid #D1FBE4;*/
	font-weight: normal;

	margin-top: 0em;
	margin-bottom: -.1em;

}

h4 {
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	text-align: center;
	font-size: 1em;
	background: #D1FBE4;
	font-weight: normal;

	margin-top: 0em;
	margin-bottom: -.1em;
	bottom: 0;
	position: fixed;

	width: 100%;
}

h5 {
	font-family: 'Century Gothic', "URW Gothic L", "IPAP Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	text-align: center;
	font-size: .75em;
	background: #D1FBE4;
	font-weight: normal;

	margin-top: 0em;
	margin-bottom: -.1em;
	position: absolute;

	width: 100%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


